.scrollTextBox {
  position: relative;
  top: -10px;
  width: 300px;
  height: 300px;
  margin: auto;
  overflow: auto;
}

.solverInputSection {
  float: left;
  width: 50%;
}

.solverOutputSection {
  float: left;
  width: 50%;
}
