.floatingMenu {
  position: absolute;
  left: 20%;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

input[type="checkbox"][id^="check"] {
  display: none;
}

label[for^="check"] {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label[for^="check"]:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 15px;
  width: 15px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label[for^="check"]:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}

.my-container {
  border: 1px solid green;
}

.my-row {
  border: 3px solide red;
}

.my-col {
  border: 3px dotted blue;
}

.small-input-size {
  width: 4em;
}

.setting-menu {
  position: relative;
  bottom: 150px;
}

.small-font {
  font-size:70%;
}

.operator-title-shift {
  position: relative;
  left: -36px;
}

.text-align-left {
  text-align: left;
}