
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

input[type="checkbox"][id^="check"] {
  display: none;
}

label[for^="check"] {
  padding: 10px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}


label[for^="check"]::before {
  content: " ";
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 1.45rem;
  height: 1.45rem;
  text-align: center;
  transition-duration: var(--trans-time);
  transform: scale(0);
  box-shadow: 0rem 0rem 0.1rem #888888
} 

label img {
  height: 1.4rem;
  width: 1.4rem;
  transition-duration: var(--trans-time);
}


input:checked + label[for^="check"]:before {
  content: "";
  background-color: #F8C741;
  transform: scale(2);
}

input:checked + label img {
  transform: scale(1);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
} 

.small-input-size {
  width: 4em;
}

.setting-menu {
  position: relative;
  bottom: 150px;
}

.small-font {
  font-size:70%;
}

.operator-title-shift {
  position: relative;
  left: -36px;
}

.text-align-left {
  text-align: left;
}

#default-button {
  margin: auto;
}