.circle {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content:center;
}

.centerize {
  text-align: center;
  margin: 1rem 1.5rem;
}

.name {
  color: white;
  font-size: 3rem;
}